In [1]:
# Dataset : Data science job posting on Glassdoor
# Guideline:
#           1.make salary column into integers 
#           2.information can extract out of job descriptions
#           3.Remove the numbers from company name
#           4.create some new features state columns and location column 
#           5.output will be in csv and excel

In [2]:
import numpy as np
import pandas as pd

In [3]:
df_glsdr = pd.read_csv(r'D:\Python Code\Python-2\PortFolio\Project_1_2_Glassdoor\Uncleaned_DS_jobs.csv')
df_glsdr.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [4]:
df_glsdr = df_glsdr.drop_duplicates()
df_glsdr.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [5]:
df_glsdr[["Salary Estimate min","Salary Estimate max"]]=df_glsdr["Salary Estimate"].str.split('-',2,expand=True)
df_glsdr[["Salary Estimate min","Salary Estimate max"]].head()

C:\Users\User\AppData\Local\Temp\ipykernel_5776\1195666714.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df_glsdr[["Salary Estimate min","Salary Estimate max"]]=df_glsdr["Salary Estimate"].str.split('-',2,expand=True)

  Salary Estimate min     Salary Estimate max
0               $137K  $171K (Glassdoor est.)
1               $137K  $171K (Glassdoor est.)
2               $137K  $171K (Glassdoor est.)
3               $137K  $171K (Glassdoor est.)
4               $137K  $171K (Glassdoor est.)

In [6]:
df_glsdr["Salary Estimate min"]= df_glsdr["Salary Estimate min"].str.lstrip('$')
df_glsdr["Salary Estimate min"]= df_glsdr["Salary Estimate min"].str.rstrip('K')
df_glsdr["Salary Estimate min"]= df_glsdr["Salary Estimate min"].astype(int)
df_glsdr[["Salary Estimate min","Salary Estimate max"]].head()

   Salary Estimate min     Salary Estimate max
0                  137  $171K (Glassdoor est.)
1                  137  $171K (Glassdoor est.)
2                  137  $171K (Glassdoor est.)
3                  137  $171K (Glassdoor est.)
4                  137  $171K (Glassdoor est.)

In [7]:
df_glsdr[["Salary Estimate min","Salary Estimate max"]].head()

   Salary Estimate min     Salary Estimate max
0                  137  $171K (Glassdoor est.)
1                  137  $171K (Glassdoor est.)
2                  137  $171K (Glassdoor est.)
3                  137  $171K (Glassdoor est.)
4                  137  $171K (Glassdoor est.)

In [8]:
df_glsdr["Salary Estimate max"] = df_glsdr["Salary Estimate max"].str.strip('(Glassdoor est.)K$" "')
df_glsdr["Salary Estimate max"]= df_glsdr["Salary Estimate max"].str.strip("...")
df_glsdr["Salary Estimate max"] = df_glsdr["Salary Estimate max"].str.strip('K(Employ')
df_glsdr["Salary Estimate max"] = df_glsdr["Salary Estimate max"].astype(int)

In [9]:
df_glsdr[["Salary Estimate min","Salary Estimate max"]] = df_glsdr[["Salary Estimate min","Salary Estimate max"]]*1000
df_glsdr[["Salary Estimate min","Salary Estimate max"]].head()

   Salary Estimate min  Salary Estimate max
0               137000               171000
1               137000               171000
2               137000               171000
3               137000               171000
4               137000               171000

In [10]:
df_glsdr[["Company Name","Col no need"]]= df_glsdr["Company Name"].str.split("\n", expand=True)

In [11]:
df_glsdr["Company Name"] = df_glsdr["Company Name"].str.strip('1234567890.-@$#')
df_glsdr.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Salary Estimate min,Salary Estimate max,Col no need
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,3.1
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,4.2
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,3.8
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,3.5
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,2.9

In [12]:
df_glsdr[["City","State","Col no eed2"]] = df_glsdr["Location"].str.split(',', expand=True)

In [13]:
df_glsdr[["City","State"]]
df_glsdr["State"] = df_glsdr["State"].str.strip('...')
df_glsdr["City"] = df_glsdr["City"].str.rstrip('...')
df_glsdr[["City","State"]]

              City State
0         New York    NY
1        Chantilly    VA
2           Boston    MA
3           Newton    MA
4         New York    NY
..             ...   ...
667       Fort Lee    NJ
668  San Francisco    CA
669      Irwindale    CA
670  San Francisco    CA
671       New York    NY

[672 rows x 2 columns]

In [87]:
df_glsdr["Job Description"].str.strip('...')
df_gls = df_glsdr["Job Description"].str.split('\n',expand=True)
df_gls = df_gls.replace('Duties','')
df_gls

,0,1,2,3,4,5,6,7,8,9,...,148,149,150,151,152,153,154,155,156,157
0,Description,,The Senior Data Scientist is responsible for d...,,Duties & Responsibilities:,,• Develops advanced statistical models to pred...,"• Investigates, recommends, and initiates acqu...",• Works with multiple teams to support data co...,• Identifies critical and emerging technologie...,...,None,None,None,None,None,None,None,None,None,None
1,"Secure our Nation, Ignite your Future",,Join the top Information Technology and Analyt...,,The successful candidate will possess a divers...,,"Duties, Tasks & Responsibilities","Working with large, complex, and disparate dat...",Designing and implementing innovative ways to ...,Researching and reporting on a wide variety of...,...,None,None,None,None,None,None,None,None,None,None
2,Overview,,,Analysis Group is one of the largest internati...,,We are currently seeking a Data Scientist to j...,,Job Functions and Responsibilities,,The candidate Data Scientist will help develop...,...,None,None,None,None,None,None,None,None,None,None
3,JOB DESCRIPTION:,,Do you have a passion for Data and Machine Lea...,,We develop software for monitoring semiconduct...,,JOB FUNCTION:,,Basic and applied research in statistical mach...,,...,None,None,None,None,None,None,None,None,None,None
4,Data Scientist,Affinity Solutions / Marketing Cloud seeks sma...,The data sciences team at AFS/Marketing Cloud ...,Duties and Responsibilities,"· Support all clients model building needs, in...",· Provide innovative solutions to customized m...,· Provide analytical/statistical support such ...,· Mine large consumer datasets in the cloud en...,· Develop and Improve automation capabilities ...,· Communicate the methodologies and the result...,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Summary,,We’re looking for a data scientist to drive ou...,"As a data scientist, you’ll work collaborative...",,Our ideal candidate is excited to join our fas...,,What you’ll do:,Dig into our data to find leverage in our busi...,Execute new projects and develop predictive mo...,...,None,None,None,None,None,None,None,None,None,None
668,Job Description,Become a thought leader within the organizatio...,Develop credit risk models using best practice...,Execute advanced analytics to support direct m...,Evaluate and develop the analytic infrastructu...,Conduct model validation and exploratory data ...,Effectively communicating model results and li...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
669,Join a thriving company that is changing the w...,,It’s a revolutionary new model – and we’re loo...,,A data scientist is someone who knows how to e...,,Role & Responsibility,,The Data Scientist is responsible for advising...,,...,None,None,None,None,None,None,None,None,None,None
670,100 Remote Opportunity As an AINLP Data Scient...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
671,Description,,The Data Scientist will be part of the Enterpr...,,"Responsibilities include, but are not limited to:",,"As a hands-on analytics leader, deliver action...",,Collaborate with business owners and propose a...,,...,None,None,None,None,None,None,None,None,None,None

In [89]:
df_gls["Job Position"]=df_gls[1]+df_gls[2]+df_gls[3]+df_gls[4]
df_gls["Duties/Responsibilities"]=df_gls[3]+df_gls[4]+df_gls[5]
df_gls[["Job Position","Duties/Responsibilities"]]
#df_gls["Duties"]=df_gls["Duties/Responsibilities"].str.split(':')
df_gls["Duties/Responsibilities"].str.replace('Duties','')

0                                    & Responsibilities:
1      The successful candidate will possess a divers...
2      Analysis Group is one of the largest internati...
3      We develop software for monitoring semiconduct...
4       and Responsibilities· Support all clients mod...
                             ...
667    As a data scientist, you’ll work collaborative...
668    Execute advanced analytics to support direct m...
669    A data scientist is someone who knows how to e...
670                                                  NaN
671    Responsibilities include, but are not limited to:
Name: Duties/Responsibilities, Length: 672, dtype: object

In [73]:
df_gls.drop(df_gls.columns[df_gls.apply(lambda col:col.isna().sum()>=3)], axis=1)

                                                     0
0                                          Description
1                Secure our Nation, Ignite your Future
2                                             Overview
3                                     JOB DESCRIPTION:
4                                       Data Scientist
..                                                 ...
667                                            Summary
668                                    Job Description
669  Join a thriving company that is changing the w...
670  100 Remote Opportunity As an AINLP Data Scient...
671                                        Description

[672 rows x 1 columns]

In [14]:
df_glsdr["Job Description"]
df_jobdes = df_glsdr["Job Description"].str.split(':', expand=True)
df_jobdes.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,Description\n\nThe Senior Data Scientist is re...,\n\n• Develops advanced statistical models to ...,\n\n-Bachelor's Degree\n\nPreferred Qualificat...,\n\n- Master’s degree in Computer Science or S...,\n\n-Bachelor's Degree\n\nPreferred Qualificat...,\n\n- Master’s degree in Computer Science or S...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"Secure our Nation, Ignite your Future\n\nJoin ...",\nApplied mathematics (e.g. probability and st...,//www.mantech.com/careers/Pages/careers.aspx a...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Overview\n\n\nAnalysis Group is one of the lar...,\nWorking with project teams to address data s...,\nDeveloping data engineering and machine lear...,\n\n- Collaborer avec les consultants pour rel...,\n\n- Développement de systèmes de production ...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,JOB DESCRIPTION,\n\nDo you have a passion for Data and Machine...,\n\nBasic and applied research in statistical ...,"\nPerform data analysis, data pre-processing, ...",\nBachelor's degree in computer science or che...,\n\nCompensation will be commensurate with exp...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Data Scientist\nAffinity Solutions / Marketing...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [15]:
df_jobdes[0]

0      Description\n\nThe Senior Data Scientist is re...
1      Secure our Nation, Ignite your Future\n\nJoin ...
2      Overview\n\n\nAnalysis Group is one of the lar...
3                                        JOB DESCRIPTION
4      Data Scientist\nAffinity Solutions / Marketing...
                             ...
667    Summary\n\nWe’re looking for a data scientist ...
668    Job Description\nBecome a thought leader withi...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description\n\nThe Data Scientist will be part...
Name: 0, Length: 672, dtype: object

In [22]:
df_jobdes1 = df_jobdes[0].str.split('\n\n',expand=True)
df_jobdes1.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Description,The Senior Data Scientist is responsible for d...,Duties & Responsibilities,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"Secure our Nation, Ignite your Future",Join the top Information Technology and Analyt...,The successful candidate will possess a divers...,"Duties, Tasks & Responsibilities\nWorking with...",Thorough knowledge of appropriate analytic too...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Overview,\nAnalysis Group is one of the largest interna...,We are currently seeking a Data Scientist to j...,Job Functions and Responsibilities,The candidate Data Scientist will help develop...,Key responsibilities for this position will in...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,JOB DESCRIPTION,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Data Scientist\nAffinity Solutions / Marketing...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [59]:
df_jobdes1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,Description,The Senior Data Scientist is responsible for d...,Duties & Responsibilities,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"Secure our Nation, Ignite your Future",Join the top Information Technology and Analyt...,The successful candidate will possess a divers...,"Duties, Tasks & Responsibilities\nWorking with...",Thorough knowledge of appropriate analytic too...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Overview,\nAnalysis Group is one of the largest interna...,We are currently seeking a Data Scientist to j...,Job Functions and Responsibilities,The candidate Data Scientist will help develop...,Key responsibilities for this position will in...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,JOB DESCRIPTION,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Data Scientist\nAffinity Solutions / Marketing...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Summary,We’re looking for a data scientist to drive ou...,Our ideal candidate is excited to join our fas...,What you’ll do,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
668,Job Description\nBecome a thought leader withi...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
669,Join a thriving company that is changing the w...,It’s a revolutionary new model – and we’re loo...,A data scientist is someone who knows how to e...,Role & Responsibility,The Data Scientist is responsible for advising...,The Data Scientist functions include,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
670,100 Remote Opportunity As an AINLP Data Scient...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
671,Description,The Data Scientist will be part of the Enterpr...,"Responsibilities include, but are not limited to",None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [63]:
df_jobdes2 = df_jobdes1[0].str.split('\n',expand=True)
df_jobdes2.dropna(axis='columns',how='all')

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,Description,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,"Secure our Nation, Ignite your Future",None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Overview,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,JOB DESCRIPTION,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Data Scientist,Affinity Solutions / Marketing Cloud seeks sma...,The data sciences team at AFS/Marketing Cloud ...,Duties and Responsibilities,"· Support all clients model building needs, in...",· Provide innovative solutions to customized m...,· Provide analytical/statistical support such ...,· Mine large consumer datasets in the cloud en...,· Develop and Improve automation capabilities ...,· Communicate the methodologies and the result...,...,· Being flexible to accept different task assi...,· Excellent command of one or more programming...,· Familiar with one of the database technologi...,"· Great communication skills (verbal, written ...",Preferred Qualifications,· Experience or exposure to large consumer and...,· Familiarity with data manipulation and clean...,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Summary,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
668,Job Description,Become a thought leader within the organizatio...,Develop credit risk models using best practice...,Execute advanced analytics to support direct m...,Evaluate and develop the analytic infrastructu...,Conduct model validation and exploratory data ...,Effectively communicating model results and li...,None,None,None,...,None,None,None,None,None,None,None,None,None,None
669,Join a thriving company that is changing the w...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
670,100 Remote Opportunity As an AINLP Data Scient...,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
671,Description,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [45]:
df_jobdes2.isna().sum()

0       0
1     523
2     623
3     640
4     642
5     652
6     652
7     655
8     658
9     658
10    661
11    661
12    661
13    663
14    663
15    663
16    663
17    663
18    668
19    668
20    668
21    669
22    670
23    671
dtype: int64

In [57]:
df_f["Description"]= df_jobdes2.drop(df_jobdes2.columns[df_jobdes2.apply(lambda col:col.isna().sum()>=1)], axis=1)
df_f["Description"]

0                                            Description
1                  Secure our Nation, Ignite your Future
2                                               Overview
3                                        JOB DESCRIPTION
4                                         Data Scientist
                             ...
667                                              Summary
668                                      Job Description
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671                                          Description
Name: Description, Length: 672, dtype: object